---
import classes from "../styles/components/PostPreviewIndex.module.scss";
import FormattedDate from "../components/FormattedDate.astro";
import Tag from "../components/Tag.astro";

const {
  title,
  author,
  summary,
  pubDate,
  heroImage,
  heroImageAltText,
  tags,
  slug,
} = Astro.props;
---

<div class={classes["post-item"]}>
  {
    heroImage && (
      <div class={classes["post-img"]}>
        <a tabindex={0} href={`${slug}`}>
          <img src={heroImage} alt={heroImageAltText} />
        </a>
      </div>
    )
  }
  <div class={classes["post-info"]}>
    <h2 class={classes["post-title"]}><a href={`${slug}`} tabindex={0}>{title}</a></h2>
    <FormattedDate date={pubDate} />
    <p>{summary}</p>
    <div class={classes["post-tags"]}>
      {tags && tags.map((tag: String) => <Tag key={tag} tag={tag} />)}
    </div>
  </div>
</div>
