---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Tag from "../components/Tag.astro";
import classes from "../styles/layouts/BlogPost.module.scss";

type Props = CollectionEntry<"posts">["data"];

const {
	title,
	author,
	summary,
	pubDate,
	heroImage,
	heroImageAltText,
	tags,
} = Astro.props;
---

<BaseLayout>
	<article>
		<h1 class={classes["post-title"]}>{title}</h1>
		<p class={classes["post-date"]}>Published on <FormattedDate date={pubDate} /></p>
		<p class={classes["post-summary"]}>{summary}</p>
		{heroImage && <img src={heroImage} alt={heroImageAltText} />}
		<hr />
		<slot />
		<hr />
		<p class={classes["post-tags"]}>
			Tagged as:
			{tags && tags.map((tag) => <Tag tag={tag}>{tag}</h>)}
		</p>
	</article>
</BaseLayout>
